.single-movie-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
}

.right-side-details {
    width: 800px;
    text-align: left;
    padding: 2rem;
}
.right-side-details h3 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--black-three);
}
.right-side-details span {
    color: var(--brown);
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
}

.right-color {
    color: var(--black-three) !important;
    font-size: 1.7rem !important;
    font-weight: normal !important;
}


@media (max-width: 576px) {
    .single-movie-wrapper {
        display: flex;
        flex-direction: column;
    }
    #movie-img-wrapper img {
        margin-left: 5rem;
    }
    .right-side-details span {
        color: var(--brown);
        font-size: 20px;
        font-weight: normal;
    }
    .right-color {
        font-size: 1rem !important;
    }

    .right-side-details h3 {
        font-size: 1.5rem;
        text-align: left;
        width: 15rem;
    }
}